@import url('https://fonts.googleapis.com/css2?family=Inter&family=Krona+One&family=Montserrat:wght@100;400&display=swap');

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --font-weight: 600;
    --font-family: 'Inter', sans-serif;
}

body {
    font-family: var(--font-family);
  
}

.cabecalho {
    display: flex;
    flex-direction: column;
    padding: 18px 80px;

}

.cabecalho__menu {
    display: flex;
    padding: 0px 32px;
    gap: 1.69rem;
    white-space: nowrap;

}

.cabecalho__menu__logo {
    margin-right: 119px;

}

.cabecalho__menu__link {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: var(--text-color);
    text-decoration: none;
 
}

.cabecalho__menu__login {
    margin-left: 340px;
    color: var(--text-color);
    background-color: white;
    border: 0px;
}

.cabecalho__menu__cadastro {
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color:white;
    border-radius: 8px;
    padding: 10px 18px;

}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    gap: 1rem;

}

.introducao__sobre {
    color: var(--main-color);
    font-weight: var(--font-weight);
    font-size: 13px;

}

.introducao__titulo {
    font-size: 40px;
    font-weight: var(--font-weight);
  
    
}

.introducao__texto {
    color: var(--text-color);
    max-width: 50%;
    text-align: center;
    padding: 20px 0px;

}

.metricas {
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 6rem;

}

.metricas__itens {
    max-width: 280px;
    
}

.metricas__itens__numeros {
    color: var(--main-color);
    font-weight: var(--font-weight);
    font-size: 60px;
    padding-bottom: 1rem;

}

.metricas__itens__titulo {
    padding-bottom: 1.2rem;
    color: #101828;
    font-weight: 600;
}

.metricas__itens__texto {
    color: var(--text-color);
    font-size: 0.9rem;
    max-width: 10rem;
}

.vagas {
    padding-top: 6rem;

}

.vagas__descricao {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.vagas__descricao__marca {
    padding: 2rem

}

.vagas__descricao__marca__texto {
    color: var(--main-color);
    background-origin: padding-box;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 2rem;
    padding: 0.25rem 0.75rem;
    
}

.vagas__descricao__titulo {
    font-size: 2.25rem;
    font-weight: var(--font-weight);
    letter-spacing: -0.02rem;
    padding-bottom: 1.25rem;

}

.vagas__descricao__texto {
    color: var(--text-color);
    padding-bottom: 4rem;

}

.vagas__descricao__imagem { 
    border-radius: 10px;

}

.vagas__oportunidades {
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem 6rem;
    gap: 4rem;
    align-items: flex-start;
}

.vagas__oportunidades__design {
    padding: 0px 16rem 0px;

}

.vagas__oportunidades__titulo {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.87rem;
    padding-bottom: 2rem;

}

.vagas__oportunidades__categoria {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem 1.75rem;

}

.vagas__oportunidades__categoria__subcategoria {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 1.75rem;
    gap: 1.5rem;
    border: 1px solid #EAECF0;
    border-radius: 1rem;
    width: 200%;

}

.vagas__oportunidades__categoria__titulo {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;

}

.vagas__oportunidades__categoria__descricao {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: var(--text-color);

}

.vagas__oportunidades__software {
    padding: 0px 16rem 0px;

}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem 6rem;
    
}


.depoimentos__content {
    display: flex;
    flex-direction: column;
    padding: 0px 7rem 6rem;
    text-align: center;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
    gap: 2rem;
    padding: 4rem;

}

.depoimentos__content__intro {
    color: var(--main-color);
    font-weight: var(--font-weight);
    font-size: 0.75rem;

}

.depoimentos__content__titulo {
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -0.02em;
    line-height: 2.75rem;
    max-width: 46.5rem;


} 

.depoimento__pessoa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.depoimentos__content__avatar {
    line-height: 1.5rem;

}

.depoimentos__content__texto {
    color: var(--text-color);
    font-size: 0.75rem;

}







::-webkit-scrollbar{
    width: 10px;
    
    
}

::-webkit-scrollbar-track{
    background-color: white;

}

::-webkit-scrollbar-button{
    background-color: var(--main-color);
	border-radius: 10px;
	border-style: inset;
}

::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
    border-radius: 10px;
	border-style: double;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #687d9e;

}